
body{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    text-align: center;
    background-color: rgb(150, 235, 150);
}.head{
text-align: center;
border: 2px solid green;
background-color: rgb(47, 80, 62);
color:white;
margin-right: 35%;
margin-left: 35%;
font-family: 'Times New Roman', Times, serif;
font-weight: 600;
font-style: normal;
font-size: large;
margin-top: 1%;
}.submit{
    margin-left: 1%;
    background-color: rgb(7, 245, 7);
    color: white;

}
.field{
    margin-right: 20%;
    margin-left: 20%;
    background-color: rgb(101, 143, 106);
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 15px;
    font-weight: 600;
}.label{
    color: green;
    margin-right: 1%;
    font-weight: 600;
    font-family: sans-serif;
}.btn{ font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 6px;
    margin-top: 8%;

}



.form{
    margin-top: 2%;
    
}.form>input{
    margin: 2%;
    border-radius: 10px;
    font-weight: 500;
}